@import "~styles/index";

.tabbar
  display flex
  justify-content: center;

.tabbar__item
  display inline-block
  padding 6px 10px
  min-width 84px
  cursor pointer
  background white
  text-align center
  font-size 12px
  color $description-color

  &:not(:first-child)
    border-left none

  &--active
    color $primaryColor

    &:after
      content ''
      display block
      height 1px
      width 100%
      background $primaryColor
      position relative
      top 2px

.tab-pane
  display none

  &--active
    display block
