@import "~styles/index";

.radio-wrapper
  display inline-block
  cursor pointer
  margin-right 10px
  .radio
    position relative
    display inline-block
    margin-right 5px
    size(14px, 14px)
    line-height 1
    vertical-align middle

    &__inner
      position relative
      size(100%, 100%)
      border 1px solid #999
      font-weight normal
      border-radius 30px
      &:hover
        border-color $primaryColor

      &:after
        position absolute
        content ' '
        offset(3px, 3px)
        size(6px, 6px)
        border 3px solid $primaryColor
        border-radius 30px
        transform scale(0)
        transition all .1s cubic-bezier(.71,-.46,.88,.6)

    &--checked
      .radio__inner
        border-color $primaryColor

        &:after
          transform scale(1)

    &--disabled
      input[type=checkbox]
        cursor not-allowed

      .radio__inner
        border-color #ccc
        background-color #f3f3f3

      &.radio--checked
        .radio__inner:after
          border-color #999

    input[type=checkbox]
      position absolute
      boundary()
      margin 0
      size(100%, 100%)
      opacity 0
      cursor pointer!important
      z-index -2

  span
    font-size 12px
