.alert
    position relative
    padding 8px 48px 8px 38px
    word-wrap: break-word
    border 1px solid #d2eafb
    background-color #ecf6fd
    animation-duration: 0.6s

.alert--info
    border 1px solid #d2eafb
    background-color #ecf6fd
    color #108ee9

.alert--success
    border 1px solid #cfefdf
    background-color #ebf8f2
    color #00a854

.alert--warning
    border 1px solid #fff3cf
    background-color #fffaeb
    color #ffbf00

.alert--error
    border 1px solid #fcdbd9
    background-color #fef0ef
    color #f04134

.alert__icon
    position absolute
    left 16px
    top 9.5px

.alert__close
    position absolute
    right 16px
    cursor: pointer
    color black
    opacity 0.3
    transform opacity .4 ease

    &:hover
        opacity 0.6

.alert__msg
    font-size 14px
    color rgba(0,0,0,.85)
    

.alert__description
    font-size 12px
    color rgba(0,0,0,.65)

